<div id="snackbar"></div>
<script src="config.js"></script>
<script src="constants.js"></script>
<script src="requests_manager.js"></script>
<script src="login_manager.js"></script>
<script src="genre_manager.js"></script>
<script src="user_activity_monitor.js"></script>