<!-- START: Search Modal -->
<div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0">Search</h4>

                <div class="nk-gap-1"></div>
                <form action="#" class="nk-form nk-form-style-1">
                    <!-- <input type="text" value="" name="search" class="form-control"
                        placeholder="Type any genre..." autofocus> -->
                    <div class="input-group">
                        <select name="select" class="form-control">
                            <option value="" disabled selected>Select a Genre</option>
                            <option value="1">Russian Federation</option>
                            <option value="2">USA</option>
                            <option value="3">United Kingdom</option>
                            <option value="4">France</option>
                            <option value="5">Spain</option>
                            <option value="6">Germany</option>
                        </select><button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END: Search Modal -->